.mapBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: #000 solid 1px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

td {
    width: 35px;
    height: 30px;
    text-align: center;
    border: 3px solid white;
}


.player {
    background-color: yellow;
}

.armor {
    background-color: orange;
}

.weapon {
    background-color: green;
}

.item {
    background-color: blue;
}

.enemy {
    background-color: red;
}

.plainTile {
    background-color: tan;
}

.store {
    background-color: silver
}