.gameScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: #000 solid 1px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}