/* GameScreen.css */
.gameScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgb(172, 155, 133);
    border: rgba(0, 3, 153, 0.808) 3px outset;
    height: 100vh;
    width: 100vw;
    margin: auto;
    overflow: hidden;
}

.firstDiv {
    width: 30%;
}

.middleDiv {
    width: 65%;
}

.thirdDiv {
    width: 25%;
}

.firstDiv, .middleDiv, .thirdDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}

.middleDiv h2 {
    text-align: center;
    font-size: 2em;
    margin: 5px;
}
/* 
@media (max-width: 1024px) {
    .gameScreen {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .firstDiv, .middleDiv, .thirdDiv {
        margin: 10px 0;
    }

    .middleDiv {
        order: 1;
    }

    .firstDiv {
        order: 2;
    }

    .thirdDiv {
        order: 3;
    }
}

@media (max-width: 768px) {
    .gameScreen {
        height: auto;
        padding: 10px;
    }

    .middleDiv {
        margin: 10px 0;
    }

    .firstDiv, .thirdDiv {
        margin: 5px 0;
    }

    .middleDiv h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .firstDiv, .middleDiv, .thirdDiv {
        margin: 5px 0;
    }

    .middleDiv h2 {
        font-size: 1.2em;
    }

    .gameScreen {
        padding: 5px;
    }
} */
