.inventoryBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: #000 solid 1px;
    border-radius: 5px;
}

.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: #000 solid 1px;
    border-radius: 5px;
    margin: 5px;
    width: 85%;
    height: 100%;
}

.equippedBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: #000 solid 1px;
    border-radius: 5px;
    margin: 5px;
    height: 100%;
}