table {
    border-collapse: collapse;
    margin: 10px 0;
}

td {
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
}

.player {
    background-color: yellow;
}

.item {
    background-color: green;
}

.equipment {
    background-color: blue;
}

.enemy {
    background-color: red;
}
