.storeBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: rgba(0, 3, 153, 0.808) 3px outset;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    background-color: rgb(226, 212, 194);
    text-align: center;
    height: 25%;
}



.storeItems {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
}

.storeItems li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 5px;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.itemNamePrice {
    font-weight: bold;
}

.storeItems button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.closeButton {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.soldOut {
    color: red;
    font-size: 1.2em;
    margin-bottom: 20px;
}
