.statBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    border: black 1px solid;
    height: 250px;
    margin-bottom: 100px;
}

.stats {
    display: flex;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.enemyStats {
    background-color: #ff0000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}