.statBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    border: black 1px solid;
    height: 250px;
    margin-bottom: 100px;
}

.stats, .enemyStats {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}