/* StatBox.css */
.stats, .enemyStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgba(0, 3, 153, 0.808) 3px outset;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgb(226, 212, 194);
    border-radius: 10px;
    padding: 5px;
    height: 25%;
}

.stat-item, .enemyStats .stat-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    flex-direction: row;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 5px;
}